{% extends "layout.html" %}

{% block body %}
<div class="container-fluid">
    <div class="row" style="margin-top:30px">
        <div class="col-12" style="text-align: center">
            <h1>Lisää uusi kategoria</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form method="POST" style="margin-bottom: 10px; margin-top: 10px" action="{{ url_for('category_create') }}">
                <div class="form-group">
                {{ form.name.label }}
                {{ form.name }}
                <small id="nameHelp" class="form-text text-muted">Kategorian nimi voi olla 2-20 merkkiä pitkä.</small>
                <ul>
                    {% for error in form.name.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                </div>
            <button type="submit" class="btn btn-primary">Lisää uusi kategoria</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}