{% extends "layout.html" %}


{% block body %}
<div class="jumbotron">
  <h1>Etappi 3 + 4</h1>
    <ul>
      <li>Lomakkeet käyttävät WTFormia ja niihin sisältyy validointi.</li>
      <li>Käyttäjä voi sekä rekisteröityä että kirjautua. Testitunnukset (saman asian voi tehdä vain rekisteöritymällä) löytyvät githubista README.md -tiedostosta.</li>
      <li>Käytössä kolme tietokohdetta (käyttäjä, elokuva ja arvostelu).</li>
      <li>Elokuvilla on nyt täysi CRUD (editointi ja poisto ovat listaustoiminnon takana)</li>
      <li>Herokussa nyt PostgreSQL</li>
      <li>Monimutkaisempana yhteenvetokyselynä alla näkyvä listaus suosituimmista elokuvista</li>
      <li>Bootstrap käytössä, ulkoasua säädelty jonkin verran</li>
      <li>Toiminnallisuudet vähän vaiheissaan, lisätään koko ajan uutta. Arvostelulistaus ja kirjoittaminen löytyy toistaiseksi vain yläpalkin leffalistauksen kautta</li>
    </ul>
  </div>
    <div class="container">
  <div class="row">
  </div>

  {% if topmovies is defined %}

  <div class="row">
      <h2>Suosituimmat elokuvat</h2>
  </div>  
  <div class="row">
    <div class="col-4" style="background-color: #659DBD; margin-bottom: 2px; padding-top: 2px">
        <h4 style="color: white">Elokuvan nimi</h4>
    </div>
    <div class="col-4" style="background-color: #659DBD; margin-bottom: 2px; padding-top: 2px"">
      <h4 style="color: white">Keskiarvo</h4>
    </div>
  </div>
  {% for movie in topmovies %}
  <div class="row">
      <div class="col-4" style="background-color: #e3f2fd; margin-bottom: 2px">
          {{ movie.name }}
      </div>
      <div class="col-4" style="background-color: #e3f2fd; margin-bottom: 2px">
        {{ movie.averagescore }}
      </div>
    </div>
  {% endfor %}

</div>
{% endif %}
{% endblock %}