{% extends "layout.html" %}

{% block body %}

<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <h2>Uusimmat elokuvat</h2>
      <table class="table table-striped">
        <caption>Viimeksi lisätyt elokuvat. Tutustu ja arvostele!</caption>
        <thead style="background-color: #659DBD; color: whitesmoke">
          <tr>
            <th>Elokuvan nimi</th>
            <th>Lisätty</th>
            <th>Tutustu</th>
          </tr>
        </thead>
        <tbody>
          {% for movie in latestmovies %}
          <tr>
            <td><a href="{{ url_for('movies_view', movie_id = movie.id) }}">{{ movie.name }}</a></td>
            <td>{{ movie.added }}</td>
            <td>
              <a class="btn btn-secondary btn-sm" href="{{ url_for('movies_view', movie_id = movie.id) }}" role="button">Tutustu!</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    
    <div class="col-6">
      <h2>Uusimmat arvostelut</h2>
      <table class="table table-striped">
          <caption>Rekisteröityjen käyttäjien lisäämät uusimmat arvostelut. Lue oletko samaa mieltä!</caption>
          <thead style="background-color: #659DBD; color: whitesmoke">
            <tr>
              <th>Elokuvan nimi</th>
              <th>Arvosana</th>
              <th>Lisätty</th>
              <th>Lue arvostelu</th>
            </tr>
          </thead>
          <tbody>
            {% for review in latestreviews %}
            <tr>
              <td>{{ review.name }}</td>
              <td><img src="/static/images/arvosana_{{ review.rating }}.png" alt="arvosana {{ review.rating }}"></td>
              <td>{{ review.added }}</td>
              <td>
                <a class="btn btn-secondary btn-sm" href="{{ url_for('reviews_view', movie_id = review.movie_id, review_id = review.id) }}" role="button">Lue arvostelu</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>

  {% if topmovies is defined %}

  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <h2 style="text-align: center">Suosituimmat elokuvat</h2>
    <table class="table">
      <caption>Parhaat arvostelut saaneet elokuvat.</caption>
      <thead style="background-color: #659DBD; color: whitesmoke">
        <tr>
          <th>Elokuvan nimi</th>
          <th>Keskiarvo</th>
        </tr>
      </thead>
      <tbody style="background-color: #e3f2fd;">
      {% for movie in topmovies %}
      <tr>
        <td><a href="{{ url_for('movies_view', movie_id = movie.id) }}">{{ movie.name }}</a></td>
        <td>{{ "%.1f"|format(movie.averagescore) }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  </div>  
</div>
{% endif %}
{% endblock %}