<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Leffa-arvostelut</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
      <a class="navbar-brand" href="#">Leffa-arvostelut</a>
      
        
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }} ">Etusivu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('movies_index') }} ">Listaa elokuvat</a>
          </li>
          <li class="nav-item"></li>
            <a class="nav-link" href="{{ url_for('accounts_form') }}">Rekisteröidy</a>
          </li>
        </ul>
        
        <div class="form-inline mt-2 mt-md-0">
          <ul class="navbar-nav">
          {% if current_user.is_authenticated %}
            <span class="navbar-text" style="padding-right: 5px">Olet kirjautunut tunnuksella<strong> {{ current_user.username }}</strong></span>
            <a class="btn btn-danger" href="{{ url_for('auth_logout') }}" role="button">Kirjaudu ulos</a>
          {% else %}
            <a class="btn btn-success" href="{{ url_for('auth_login') }}" role="button">Kirjaudu sisään</a>
          {% endif %}
          </ul>
        </div>
     
    </nav>
    
    {% if current_user.admin == True %}
    
    <p>Olet kirjautunut sisään ylläpitäjänä. Käytössäsi on työkaluja sovelluksen hallintaa varten.</p>
    <a href="{{ url_for('movies_form') }} ">Lisää uusi elokuva</a>
    
    {% endif %}

    {% block body %}
      <p>
        Content.
      </p>
    {% endblock %}
  
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>