{% extends "layout.html" %}

{% block body %}
<div class="container">
<div class="row" style="margin-bottom: 5px">
    <div class="col-12">
    <h1>Arvostelut</h1>
    <strong>Elokuvan nimi: </strong>{{ movie.name }} <br />
    <strong>Julkaisuvuosi: </strong>{{ movie.released }} <br />
    <strong>Kategoria(t):</strong>
    {% for id in movie.categories %}
        {{ id.name }}
    {% endfor %}
    <br />
    <strong>Kuvaus: </strong>{{ movie.description }} <br />
</div>
</div>

{% for review in reviews %}
<div class="row" style="background-color: #e3f2fd; margin-bottom: 5px">
    <div class="col-12">
        Kirjoittanut: {{ review.account.username }} <br />
        Arvosana: <img src="/static/images/arvosana_{{ review.rating }}.png" alt="arvosana {{ review.rating }}"> <br />
        Arvostelu: {{ review.reviewtext }} <br />
        {% if (current_user.admin == True) or (current_user.id == review.account.id) %}
        {% if (current_user.id == review.account.id) and (current_user.admin == False) %}
        <strong>Olet kirjoittanut tämän arvostelun ja voit muokata tai poistaa sen.</strong>
        {% endif %}
        <table>
            <tr>
                <td>
                <form method="POST" action="{{ url_for('reviews_delete', movie_id = movie.id, review_id = review.id) }}">
                    <button type="submit" class="btn btn-danger btn-sm">Poista</button>
                </form>
                </td>
                <td>
                <form method="GET" action="{{ url_for('reviews_edit_form', movie_id = movie.id, review_id = review.id) }}">
                    <button type="submit" class="btn btn-warning btn-sm">Muokkaa</button>
                </form>
                </td>
            </tr>
        </table>
       {% endif %}
    </div>
</div>
{% endfor %}

<div style="margin-top: 20px">
{% if current_user.is_authenticated %}
<a class="btn btn-primary" href="{{ url_for('reviews_form', movie_id = movie.id) }}" role="button">Kirjoita uusi arvostelu</a>
{% else %}
Haluatko kirjoittaa arvostelun? <a href="{{ url_for('auth_login') }}">Kirjaudu sisään</a> tai <a href="{{ url_for('accounts_form') }}">rekisteröidy</a> käyttäjäksi.
{% endif %}
</div>

</div>
{% endblock %}