{% extends "layout.html" %}

{% block body %}
<div class="container">
<div class="row" style="margin-top: 20px">
    <div class="col-11">
    <h1>Arvostelut</h1>
    Arvostelut elokuvalle <a href="{{ url_for('movies_view', movie_id = movie.id) }}">{{ movie.name }}</a>. <br />
    <table class="table table-striped" style="margin-top: 10px">
    <caption>Elokuvan {{ movie.name }} arvostelut.</caption>    
        <thead style="background-color: #659DBD; color: whitesmoke">
            <tr>
                <th>Kirjoittaja</th>
                <th>Arvosana</th>
                <th>Lähetetty</th>
                <th>Arvosteluteksti</th>
            </tr>
        </thead>
        <tbody>
            {% for review in reviews %}
            <tr>
                <td>{{ review.account.username }}</td>
                <td><img src="/static/images/arvosana_{{ review.rating }}.png" alt="arvosana {{ review.rating }}"></td>
                <td><small>{{ review.date_created }}</small></td>
                <td>{{ review.reviewtext|truncate(30, killwords=False, end='...') }}
                    {% if review.reviewtext|length > 30 %}
                    <a href="{{ url_for('reviews_view', review_id = review.id, movie_id = movie.id) }}">Lue koko teksti.</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
</table>
</div>
</div>

<div style="margin-bottom: 20px">
{% if current_user.is_authenticated %}
<a class="btn btn-primary" href="{{ url_for('reviews_form', movie_id = movie.id) }}" role="button">Kirjoita uusi arvostelu</a>
{% else %}
Haluatko kirjoittaa arvostelun? <a href="{{ url_for('auth_login') }}">Kirjaudu sisään</a> tai <a href="{{ url_for('accounts_form') }}">rekisteröidy</a> käyttäjäksi.
{% endif %}
</div>

</div>
{% endblock %}