{% extends "layout.html" %}

{% block body %}

<h1>Muokkaa elokuvan tietoja</h1>

<form method="POST" action="{{ url_for('movies_edit_entry', movie_id = movie.id) }}">
    <table>
      <tr>
        <td>
          {{ form.name.label  }}
        </td>
        <td>
          {{ form.name(size=30) }}
        </td>
        <td>
          <ul>
            {% for error in form.name.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          {{ form.description.label  }}
        </td>
        <td>
          {{ form.description(cols="30", rows="15") }}
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input type="submit" value="Tallenna muutokset" />
        </td>
      </tr>
    </table>
</form>


{% endblock %}