{% extends "layout.html" %}

{% block body %}
<div class="container">
    <div class="row" style="margin-top: 20px">
        <div class="col-12">
            <h1>Selaa elokuvia</h1>
            <h2>Suosituimmat elokuvat</h2>
            <p>Haluatko nähdä jonkin kategorian suosituimmat elokuvat? Valitse kategoria.</p>
            <form method="POST" style="margin-top: 20px" action="{{ url_for('movies_for_category_request') }}">
                <div class="form-group">
                    {{ form.category.label }}
                    {{ form.category }}
                    <ul>
                        {% for error in form.category.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <button type="submit" class="btn btn-primary">Hae suosituimmat elokuvat</button>
            </form>
            <h2 style="margin-top: 20px">Kaikki elokuvat</h2>
            <table class="table table-striped" style="margin-top: 20px">
                <caption>Listaus elokuvista</caption>
                <thead style="background-color: #659DBD; color: whitesmoke">
                    <tr>
                        <th>Elokuvan nimi</th>
                        <th>Julkaisuvuosi</th>
                        <th>Kategoria(t)</th>
                        <th>Tutustu!</th>
                        <th>Arvostelut</th>
                        {% if current_user.admin == True %}
                        <th>Poista</th>
                        <th>Muokkaa</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for movie in movies %}
                    <tr>
                        <td>{{ movie.name }}</td>
                        <td>{{ movie.released }}</td>
                        <td>
                            {% for id in movie.categories %}
                                {{ id.name }}
                            {% endfor %}
                        </td>
                        <td>
                            <a class="btn btn-secondary btn-sm" href="{{ url_for('movies_view', movie_id = movie.id) }}" role="button">Tutustu!</a>
                        </td>
                        <td>
                            <a class="btn btn-secondary btn-sm" href="{{ url_for('reviews_for_movie', movie_id = movie.id) }}" role="button">Lue arvosteluita</a>
                        </td>
                        {% if current_user.admin == True %}
                        <td>
                            <form method="POST" action="{{ url_for('movies_delete', movie_id = movie.id) }}">
                                <button type="submit" class="btn btn-danger btn-sm">Poista</button>
                            </form>
                        </td>
                        <td>
                            <form method="GET" action="{{ url_for('movies_edit_form', movie_id = movie.id) }}">
                                <button type="submit" class="btn btn-warning btn-sm">Muokkaa</button>
                            </form>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}