{% extends "layout.html" %}

{% block body %}

<div class="container-fluid">
    <div class="row"></div>
    <h1 style="text-align: center; margin-top: 20px">Tietoja elokuvasta</h1>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <table class="table" style="margin-top: 20px">
            <caption>Tietoja elokuvasta {{ movie.name }}</caption>
                <tbody>
                    <tr style="background-color: #659DBD; color: whitesmoke">
                        <th>Elokuvan nimi</th>
                        <td><strong>{{ movie.name }}</strong></td>
                    <tr>
                    <tr>
                        <th>Julkaisuvuosi</th>
                        <td>{{ movie.released }}</td>
                    </tr>
                    <tr>
                        <th>Kategoria(t)</th>
                        <td>
                            {% for id in movie.categories %}
                            {{ id.name }}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>Keskiarvo</th>
                        <td>
                            {{ "%.1f"|format(r_avg[0].average) if r_avg[0].average != None else '0' }}
                        </td>
                    </tr>    
                    <tr>
                        <th>Arvosteluita yhteensä</th>
                        <td>
                            {{ r_count[0].revcount }} arvostelua | <small><a href="{{ url_for('reviews_for_movie', movie_id = movie.id) }}">Lue arvosteluita</a>
                            {% if current_user.is_authenticated %}
                            | <a href="{{ url_for('reviews_form', movie_id = movie.id) }}">Kirjoita arvostelu</a> |
                            {% endif %}
                            </small>
                        </td>
                    </tr>
                    <tr style="background-color: #e3f2fd;">
                        <th>Kuvaus</th>
                        <td>{{ movie.description }}</td>
                    </tr>
                </tbody>
            </table>
            <div style="margin-bottom: 30px">
                <a href="{{ url_for('reviews_for_movie', movie_id = movie.id) }}">Siirry lukemaan arvosteluita</a><small> ({{ r_count[0].revcount }} arvostelua)</small><br /><br />
                {% if current_user.is_authenticated %}
                <a class="btn btn-primary" href="{{ url_for('reviews_form', movie_id = movie.id) }}" role="button">Kirjoita uusi arvostelu</a>
                {% else %}
                Haluatko kirjoittaa arvostelun? <a href="{{ url_for('auth_login') }}">Kirjaudu sisään</a> tai <a href="{{ url_for('accounts_form') }}">rekisteröidy</a> käyttäjäksi.
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}